<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	<link rel ="stylesheet" href="index.css" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</head>
<body>
	<header>
		<div id="topMenuBar">
			<ul id="HomeBar">
				<li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li>Home</li>
				<li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
				<li>즐겨찾기</li>
			</ul>
			<ul id="UserBar">
				<li>|&nbsp;</li>
				<li>회원가입</li>
				<li>&nbsp;|&nbsp;</li>
				<li>로그인</li>
				<li>&nbsp;|&nbsp;</li>
				<li>마이페이지</li>
				<li>&nbsp;|&nbsp;</li>
				<li>예약조회</li>
				<li>&nbsp;|&nbsp;</li>
				<li>공지사항</li>
				<li>&nbsp;|&nbsp;</li>
				<li>예약상담</li>
				<li>&nbsp;|&nbsp;</li>
				<li>이용후기</li>
				<li>&nbsp;|&nbsp;</li>
				<li style="color:red;">개인결제</li>
			</ul>
		</div>
		<div>
			<div id="call_center">
				<img alt="고객센터" src="../img/lent_call_center.jpeg">
			</div>
			<div id="Home">
				<img alt="제주렌트카" src="../img/logo_img.jpeg">			
			</div>
			<div id="Kakao">
				<img alt="카카오톡" src="../img/yellowid.png">
			</div>
		</div>
	</header>
	<nav>
		<div id="navBar">
			<ul id="nav">
				<li><font color="#FFF000">★ 전체차량 리스트 ☆</font></li>
				<li class="font_white">&nbsp;&nbsp;경.소형차량&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;중형차량&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;고급차량&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;SUV/RV&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;승합차량&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;외제차량&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;기사전용차량&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;실시간항공권&nbsp;&nbsp;</li>
				<li class="font_white">&nbsp;&nbsp;관광지할인쿠폰&nbsp;&nbsp;</li>
			</ul>
		</div>
	</nav>
	<br/>
	<section>
		<div id="sectionTitle">
			<h1 id="newSale">
				<strong style='color:#2fac23;'>최신형 할인</strong> 렌트카
				<span id="newSaleExplanation">고객님을 위해 추천해드리는 신규 할인 렌트카</span>
			</h1>
		</div>
		<div id="sweep">
			<i class="fa-solid fa-circle-left"></i>
			<i class="fa-solid fa-circle-right"></i>
		</div>
		<div id="wrap-contents">
			<ul id="lentCar">
				<li class="picture">
					<div><img src="../img/Ray_230x230.jpeg" alt="레이"/></div>
					<div>
						신형 더뉴레이 2021년형(O)
					</div>
					<strike>120,000원</strike> 48,000원
				</li>
				<li class="picture">
					<div><img src="../img/casper_230x230.jpeg" alt="레이"/></div>
					<div>
						캐스퍼 4인승 2022년형(O)
					</div>
					<strike>135,000원</strike> 54,000원
				</li>
				<li class="picture">
					<div><img src="../img/k5_230x230.jpeg" alt="레이"/></div>
					<div>
						3세대K5 2019년 ~ 2021년형(O)
					</div>
					<strike>185,000원</strike> 74,000원
				</li>
				<li class="picture">
					<div><img src="../img/newg80_230x230.jpeg" alt="레이"/></div>
					<div>
						신형 올뉴제네시스G80 2021년형(O)
					</div>
					<strike>370,000원</strike> 148,000원
				</li>

			</ul>
		</div>
	</section>
	<article id="article">
		<div id="wrapArticle">
		<table>
			<tr >
				<td>
					<div id="wrapReservation">
						<h2 id="reservationTitle">예약상담</h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i id="plus" class="fa-solid fa-plus"></i>
						<ul class="dotListUL">
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
						</ul>
					</div>
				</td>
				<td>
					<div id="wrapNotice">
						<h2 id="reservationTitle">공지사항 </h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i id="plus" class="fa-solid fa-plus"></i>
						<ul class="dotListUL">
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
							<li class="dotList">안녕하세요 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08.03</span></li>
						</ul>
					</div>
				</td>
				<td>
					<img alt="cs 고객센" src="../img/cs_center.jpeg">
				</td>
			</tr>
		</table>
		</div>
	</article>
	<footer>
		<div id="footer">
		    <div>
		    	<div style="text-align :center;">
		        <ul style="text-align: center;">
		            <li>&nbsp;회사소개&nbsp;&nbsp;</li>
		            <li>&nbsp;&nbsp;전자상거래표준약관&nbsp;&nbsp;</li>
		            <li>&nbsp;&nbsp;개인정보 취급방침&nbsp;&nbsp;</li>
		            <li>&nbsp;&nbsp;국내여행표준약관&nbsp;&nbsp;</li>
		            <li>
		            	<select size="1" id="formselect" style="width:200px;font-family:돋움; font-style:normal; color:#4C4D4B; text-align:center; background-color:#ffffff;" onChange="javascript:if (this.options[this.selectedIndex].value != 'undefined' && this.options[this.selectedIndex].value) {window.open(this.options[this.selectedIndex].value,'_blank');}"  name="select4" class="top" >
						   <option selected>::::제휴사이트 링크::::</option>
						   <option>-----------------------</option>
						   <option>제주허브닷컴</option>
						   <option>제주허브렌트카</option>
						   <option>제주렌트카닷컴</option>
						</select>
					</li>
				</ul>
				</div>
				<br/><br/>
				
		        <p>
		            <span><b>회사명</b> 제주렌트카 (상호명:제주허브닷컴)</span>
		            <span><b>주소</b> 제주특별자치도 제주시 평전길13 (1층, 삼도1동)</span><br>
		            <span><b>사업자 등록번호</b> 616-27-75958</span>
		            <span><b>대표</b> 조영민</span>
		            <span><b>전화</b> 064-747-6606</span>
		            <span><b>팩스</b> 064-803-0843</span><br>
		            <!-- <span><b>운영자</b> 제주렌터카닷컴</span><br> -->
		            <span><b>통신판매업신고번호</b> 제2020-삼도1동-0032호</span>
		            <span><b>개인정보관리책임자</b> 조영민</span>
		
		            <span><b>부가통신사업신고번호</b> 제2011-46호</span><br>
		            <span class="copy">Copyright &copy; 2016-2020 제주렌트카 (상호명:제주허브닷컴). All Rights Reserved.</span>
		        </p>
		    </div>
		</div>
	</footer>
</body>
</html>